@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Manrope:wght@300;400;500;600&display=swap");

// @font-face {
//   font-family: "moniqa";
//   src: url("../fonts/MoniqaCondensedHeading.otf") format("otf"),
//     url("../fonts/MoniqaCondensedHeading.ttf") format("ttf");
//   font-weight: normal;
//   font-style: normal;
// }

body {
  min-height: 100vh;
  height: 100%;
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f8f7f5;
  transition: background-color 350ms;

  &.no-scroll {
    overflow: hidden;
    max-height: 100vh;
  }

  ul,
  ol,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none !important;
  }
}

.alert-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.2);
  z-index: 555;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;

  .alert-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    transform: translateX(8px);
    padding: 50px 0;

    .service-inner {
      padding: 50px;
      background: #fff;
      width: 100%;
      box-shadow: 0px 0px 32px 1px rgba(0, 0, 0, 0.15);
      text-align: center;
      border-top: 5px solid #fff;
      position: relative;
      transform: scale(0.8);
      transition: all 0.5s;

      .inner-dismiss {
        top: 10px;
        right: 10px;
        position: absolute;
        border: 0;
        background: none;
        padding: 0;
        cursor: pointer;
        display: flex;
        padding: 5px;
        outline: none;

        img {
          height: 15px;
        }
      }

      &.success {
        border-top: 5px solid #78b042;
      }

      &.warning {
        border-top: 5px solid #d51a27;
      }

      &.info {
        border-top: 5px solid #1a88d5;
      }
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;

    .alert-service {
      .service-inner {
        transform: none;
      }
    }
  }
}

.modal-service-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 666;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  overflow-x: scroll;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .modal-service {
    padding: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.4s;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(-40px);
    }

    .service-inner {
      position: relative;
      background: #fff;
      min-width: 900px;
      max-width: 60%;
      padding: 50px 25px 25px 25px;

      .service-button {
        position: absolute;
        top: 20px;
        right: 20px;
        border: none;
        background: none;
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        .button-bar {
          display: block;
          position: absolute;
          width: 20px;
          height: 1px;
          background: #222;

          &:nth-child(1) {
            transform: rotate(45deg);
          }

          &:nth-child(2) {
            transform: rotate(-45deg);
          }
        }
      }

      .service-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;

        .heading {
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 20px;
        }

        .btn {
          display: flex;
          justify-content: center;
          margin-top: 5px;
        }

        ul {
          list-style-type: none;
          width: 25%;

          li {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &:not(.heading) {
              font-size: 16px;
              position: relative;
              padding: 10px 0 10px 15px;

              &:before {
                content: "";
                position: absolute;
                top: 25px;
                left: 0px;
                width: 5px;
                height: 5px;
                border-radius: 100px;
                background-color: @color1;
              }
            }

            &.heading {
              font-size: 20px;
            }

            strong {
              display: block;
              font-size: 18px;
            }

            p {
              margin-top: 5px;
              padding-top: 5px;
              border-top: 1px solid @color1;
              font-weight: 700;
            }

            .btn-color {
              padding: 5px 15px;
              font-size: 12px;
            }
          }
        }

        .hidden-element {
          width: 25%;
          visibility: hidden;
          opacity: 0;
        }
      }

      .service-buttons {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn-link {
          padding: 0;
          text-transform: uppercase;
          font-weight: 700;
          text-decoration: none;
        }
      }
    }
  }
}

.select-wrapper {
  position: relative;

  label {
    color: #666;
  }

  select {
    cursor: pointer;
    padding: 7px 100px 5px 10px;
    border: 1px solid @color1;
    border-radius: 4px;
    background: #fff;
    height: 31px;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 13px;
    appearance: none;
    outline: none;
    display: block;
    color: #666;
    width: 100%;
  }

  &:after {
    cursor: pointer;
    content: "";
    height: 10px;
    width: 10px;
    background: url("../img/pictures/down-chevron.svg") center;
    background-size: cover;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.checkbox-wrapper {
  cursor: pointer;
  display: block;
  margin-bottom: 0;

  .checkbox-box {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 15px;
    text-transform: none;
    color: #777;
    text-align: left;
    transition: all 0.3s;

    &:before {
      content: "";
      min-width: 16px;
      max-width: 16px;
      height: 16px;
      display: block;
      background: url("../img/pictures/checkbox.svg") no-repeat;
      margin-right: 10px;
      transition: all 0.3s;
    }
  }

  input {
    position: absolute;
    opacity: 0;
    width: auto !important;
  }
}

.checkbox-wrapper > input:checked + .checkbox-box {
  font-weight: 600;
  color: @color2;

  &:before {
    background: url("../img/pictures/checkbox-checked.svg") no-repeat;
  }
}

nav.section-header {
  transition: all 0.5s;
  position: fixed;
  z-index: 555;
  top: 0;
  left: 0;
  width: 100%;

  .header-management {
    padding: 25px 0;
    max-height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s;

    .management-links {
      transition: all 0.5s;

      ul {
        display: flex;
        align-items: center;

        li {
          a {
            color: #000;
            font-size: 13px;
            letter-spacing: 1px;
            font-weight: 500;

            &.btn-color {
              padding: 5px 30px;
              color: #fff;
            }

            svg {
              width: 18px;
              height: 18px;
            }
          }

          & + li {
            margin-left: 25px;
          }
        }
      }
    }

    .management-logo {
      text-align: center;
      opacity: 0;
      transition: all 1s;

      a {
        display: block;
        position: relative;
        transition: all 0.4s;
        transform: translateZ(0);
        letter-spacing: 1px;
        font-size: 44px;
        line-height: 1;
        font-family: "Great Vibes", cursive;
        background: linear-gradient(@color1, #ffe582);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 5px 10px 0 0;

        span {
          display: block;
          font-size: 11px;
          margin-left: 10px;
          font-weight: 600;
          transition: opacity 350ms;
          background: -webkit-linear-gradient(#000, #000);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-family: "Manrope", sans-serif;
          padding-bottom: 5px;
        }
      }

      &.opacity {
        opacity: 1;
      }
    }

    .management-burger-menu {
      transition: all 0.5s;
      display: none;
      justify-content: flex-end;
      align-items: center;
      position: relative;

      .line {
        display: inline-block;
        height: 10px;
        width: 1px;
        color: #000;
        margin: 0 10px;
      }

      .burger-menu-text {
        display: inline-block;
        margin-left: 10px;
        font-size: 14px;
      }
    }
  }

  &.scrolled {
    background: rgba(@color2, 0.7);

    .header-management {
      padding: 5px 0;

      .management-logo {
        a {
          transform: translateY(10px) scale(0.85);

          span {
            opacity: 0;
          }
        }
      }
    }
  }

  .flexbox-nav-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.4s;

    &.active {
      visibility: visible;
      opacity: 1;
      z-index: 111;

      .flexbox-nav-inner {
        transform: translateX(0);
      }
    }

    .flexbox-nav-inner {
      position: relative;
      left: 0;
      z-index: 55;
      height: 100%;
      width: 45%;
      transform: translateX(-100%);
      transition: all 0.4s;
      background-color: #fff;

      .flexbox-nav {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding-left: 30%;
        transition: all 0.4s;
        transform: translateX(-200px);

        &.active {
          transform: translateX(0);
        }

        .img-absolute {
          position: absolute;
          z-index: -1;
          top: 20%;
          left: -5%;
          width: 100%;
        }

        li {
          a {
            font-size: 18px;
            display: inline-block;
            padding: 8px 0;
            color: #000;

            &.highlight {
              font-weight: 700;
              font-size: 24px;
            }
          }

          &.line {
            background-color: #000;
            width: 50%;
            height: 1px;
            margin: 20px 0 10px;
          }
        }
      }
    }
  }
}

.section-wrapper {
  max-width: 1400px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

section.section-welcome {
  position: relative;
  padding-top: 130px;

  .wrapper-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    header {
      position: relative;
      padding-right: 170px;

      p {
        font-weight: 500;

        &:first-of-type {
          font-size: 70px;
          line-height: 1.1;
          letter-spacing: 2px;
        }

        &:nth-of-type(2) {
          font-size: 18px;
          letter-spacing: 1.5px;
        }

        &:nth-of-type(3) {
          font-size: 18px;
          padding-left: 150px;
          margin-top: 20px;
          letter-spacing: 1.5px;
        }

        &:nth-of-type(4) {
          font-size: 48px;
          letter-spacing: 2px;
          line-height: 1.5;
          padding-left: 265px;
          font-family: "Great Vibes", cursive;
          background: -webkit-linear-gradient(@color1, #ffe582);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }

  .inner-image {
    position: relative;
    width: 45%;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: -250px;
      left: -500px;
      width: 970px;
      height: 136%;
    }

    &:before {
      background-color: #fff;
    }

    .img-absolute {
      position: relative;
      z-index: 1;
      width: 100%;
      max-width: 550px;
      object-fit: contain;
    }
  }

  .inner-description {
    width: 55%;

    .wrapper-icons {
      margin-top: 60px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;

      .icon {
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 500;
        color: #000;
        display: flex;
        align-items: center;

        .icon-image {
          width: 30px;
          height: 30px;
          border-radius: 100px;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 15px;
          box-shadow: 0px 4px 10px 1px rgba(#000, 0.15);
        }

        img {
          margin-top: 2px;
          width: 20px;
        }
      }
    }
  }
}

section.section-cta {
  padding: 120px 0 150px;

  .cta-inner {
    position: relative;
    background-color: #fff;
    box-shadow: 0px 20px 40px 1px rgba(#9b9b9b, 0.25);
    width: 100%;
    min-height: 300px;
    padding: 80px 50px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cta-image {
      object-fit: contain;
      margin-left: -300px;
    }
  }

  header {
    width: 30%;

    h2 {
      font-size: 48px;
      line-height: 1.1;
      font-weight: 600;

      strong {
        background: linear-gradient(@color1, #ffe582);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p {
        font-family: "Manrope", sans-serif;
        margin-top: 15px;
        font-size: 18px;
        letter-spacing: 1px;
      }
    }
  }

  .inner-description {
    width: 40%;
  }

  p {
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;

    &:not(:first-of-type) {
      margin-top: 15px;
    }
  }

  .btn-color {
    margin-top: 30px;
  }
}

section.section-about {
  position: relative;
  padding: 150px 0 100px;
  background-color: #f2f2f2;

  header {
    h2 {
      font-family: "Great Vibes", cursive;
      background: linear-gradient(@color1, #ffe582);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 70px;
      line-height: 1.3;
      letter-spacing: 1.5px;
    }

    p {
      font-family: "Manrope", sans-serif;
      color: #000;
      font-size: 18px;
      line-height: 0;
      font-weight: 300;
      margin-left: 25px;
    }
  }

  .about-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    .inner-element {
      width: calc(100% / 3);

      &:nth-of-type(2) {
        background-color: #fff;
        box-shadow: 0px 20px 40px 1px rgba(#9b9b9b, 0.4);
      }

      &:nth-of-type(3) {
        text-align: right;

        .btn-default {
          font-size: 60px;
          line-height: 0.6;
          letter-spacing: 1.5px;
          text-align: right;

          strong {
            font-size: 18px;
            font-weight: 500;
            color: @color1;
            transition: color 350ms;
          }

          &:hover {
            color: lighten(#000, 40%);

            strong {
              color: darken(@color1, 20%);
            }
          }
        }
      }

      h3,
      h4 {
        font-size: 18px;
        line-height: 32px;
      }

      p {
        font-size: 14px;
        line-height: 28px;

        &:not(:first-of-type) {
          margin-top: 15px;
        }
      }

      img {
        width: 100%;
      }

      .image-absolute {
        position: absolute;
        z-index: 1;
        top: -45%;
        right: -55%;
        max-width: 300px;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

section.section-offer-header {
  background-color: #fff;

  .section-wrapper {
    position: relative;
    padding: 100px 0;
  }

  .color-element {
    position: absolute;
    right: 0;
    bottom: -100px;
    background-color: @color1;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.15);
    animation: shake 3.8s cubic-bezier(0.36, 0.07, 0.19, 0.95) both infinite;
  }

  @keyframes shake {
    10%,
    90% {
      transform: rotate(10deg);
    }

    20%,
    80% {
      transform: rotate(2deg);
    }

    30%,
    50%,
    70% {
      transform: rotate(10deg);
    }

    40%,
    60% {
      transform: rotate(10deg);
    }
  }

  header {
    width: 100%;
    text-align: center;

    h2 {
      font-size: 50px;
      line-height: 1.2;
      letter-spacing: 1.5px;
    }

    p {
      color: @color1;
      font-size: 16px;
      font-weight: 400;
      max-width: 100%;
      letter-spacing: 1px;
    }
  }

  .offer-description {
    max-width: 800px;
    margin: 40px auto 0;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
  }
}

section.section-offer {
  padding-top: 150px;
  margin-bottom: 100px;

  .section-wrapper {
    position: relative;
  }

  .offer-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    .offer-list {
      list-style-type: none;

      li {
        &:not(.heading) {
          position: relative;
          font-size: 16px;
          padding: 5px 0 5px 30px;
        }

        &:before {
          content: "";
          position: absolute;
          top: 15px;
          left: 0px;
          width: 8px;
          height: 8px;
          border-radius: 100px;
        }

        a {
          color: #000;
          transition: color 300ms;

          &:hover {
            color: @color1;
          }
        }
      }

      .heading {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 10px;

        &:before {
          display: none;
        }
      }
    }
  }

  .btn-default {
    position: absolute;
    right: 10%;
    bottom: 5%;
    font-size: 50px;
    line-height: 1.3;
    text-align: right;
    letter-spacing: 1.5px;

    strong {
      font-family: "Manrope", sans-serif;
      font-size: 18px;
      color: @color1;
      font-weight: 500;
      transition: color 350ms;
      display: block;
    }

    &:hover {
      color: lighten(#000, 40%);

      strong {
        color: darken(@color1, 20%);
      }
    }
  }
}

section.section-trainers,
section.section-testimonials {
  position: relative;
  padding-top: 100px;
  background-color: #f2f2f2;

  .img-absolute {
    position: absolute;
    max-height: 300px;
    object-fit: contain;
    top: 0;
    left: 0;
  }

  .trainers-content,
  .testimonials-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

    header {
      h2 {
        font-size: 60px;
        line-height: 1.4;
        text-align: right;
        letter-spacing: 1.5px;

        strong {
          font-family: "Manrope", sans-serif;
          font-size: 18px;
          color: @color1;
          font-weight: 500;
          transition: color 350ms;
          display: block;
        }
      }
    }

    .owl-carousel-trainers,
    .owl-carousel-testimonials {
      overflow: hidden;
      width: 70%;

      .owl-item {
        padding: 40px 0 80px;
      }

      .owl-nav {
        position: absolute;
        top: 50%;
        right: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .owl-prev,
        .owl-next {
          background-color: @color1;
          border-radius: 100px;
          width: 40px;
          height: 40px;
          border: 1px solid #fff;

          span {
            font-size: 22px;
            letter-spacing: 1px;
            margin: 0 5px;
            color: #fff;
          }
        }

        .owl-prev {
          margin-left: 10px;
          transition: transform 350ms;

          &:hover {
            transform: translatex(-7px);
          }
        }

        .owl-next {
          margin-right: 10px;
          transition: transform 350ms;

          &:hover {
            transform: translatex(7px);
          }
        }

        .owl-prev,
        .owl-next:focus {
          border: none;
          outline: none;
        }
      }
    }

    .trainer,
    .testimonial {
      padding-top: 50px;
      position: relative;
      min-width: 300px;
      min-height: 300px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 0px 10px 20px 1px rgba(#9b9b9b, 0.3);

      img {
        width: 100%;
        object-fit: cover;

        &.img-absolute {
          position: absolute;
          top: -15%;
          width: 60%;
          transform: rotate(10deg);
          opacity: 0;
          transition: opacity 350ms;
        }
      }

      .testimonial-inner {
        max-height: 280px;
      }

      h2 {
        position: relative;
        font-size: 16px;
        line-height: 1.5;
        padding: 20px;
        letter-spacing: 1px;

        span {
          color: @color1;
          font-size: 14px;
          display: block;
        }
      }

      p {
        font-size: 13px;
        line-height: 26px;
        padding: 0 15px 15px;
        transform: translateZ(0);
        backface-visibility: hidden;

        &:not(:first-of-type) {
          margin-top: 15px;
        }
      }
    }

    .owl-carousel-testimonials {
      .owl-item {
        transition: all 0.6s;
        opacity: 0.5;
        padding: 65px 0;

        .testimonial {
          justify-content: flex-start;
          box-shadow: none;
        }

        &.center {
          opacity: 1;
          transform: scale(1.15);

          .testimonial {
            box-shadow: 0px 5px 30px 1px rgba(#9b9b9b, 0.3);
          }

          img {
            &.img-absolute {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

section.section-testimonials {
  position: relative;
  padding: 0 0 100px;
  background-color: #f2f2f2;
}

section.section-faq {
  padding: 120px 0 100px;
  background-color: #fff;

  header {
    text-align: center;

    h2 {
      font-size: 60px;
      line-height: 1.1;
      letter-spacing: 1.5px;
    }

    p {
      color: @color1;
      font-size: 16px;
      font-weight: 500;
      max-width: 100%;
      letter-spacing: 1px;
    }
  }

  .accordion {
    position: relative;
    margin-top: 60px;
    padding: 70px;
    box-shadow: 0px 10px 40px 1px rgba(#9b9b9b, 0.15);

    .accordion-item {
      text-align: center;
      width: 80%;
      margin: 0 auto 25px;

      .item-header {
        position: relative;
        padding: 0;
        background: none;
        border: none;

        button {
          padding: 0;
          background: none;
          display: flex;
          align-items: center;
          width: 100%;
          border-radius: 0;
          text-decoration: none;
          color: @color1;
          font-size: 18px;
          outline: none;
          cursor: pointer;
          border: none;
          transition: all 0.3s;

          span {
            width: 100%;
            display: block;
            text-align: center;
          }

          &.collapsed {
            color: #000;
            padding: 10px;
            background-color: #f5f5f5;
          }
        }
      }

      .item-description {
        padding: 20px 50px 10px 40px;

        p,
        li {
          font-size: 15px;
          color: #000;
          line-height: 28px;

          strong {
            font-weight: 700;
            color: @color1;
          }
        }

        p:not(:first-of-type) {
          margin-top: 10px;
        }

        ul {
          padding-left: 17px;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

section.section-footer {
  padding-top: 80px;
  background-color: #fff;
  overflow: hidden;

  .footer-wrapper {
    display: flex;
    justify-content: space-between;

    .footer-text {
      padding-top: 60px;
      position: relative;
      width: 50%;
      max-width: 450px;
      margin: 0 auto 0 0;
      text-align: center;

      .footer-logo {
        margin-bottom: 20px;
        background: linear-gradient(@color1, #ffe582);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 1px;
        font-size: 70px;
        padding-top: 15px;
        line-height: 0.9;
        font-family: "Great Vibes", cursive;
        display: flex;
        flex-direction: column;

        span {
          display: inline-block;
          font-size: 17px;
          letter-spacing: 1px;
          font-weight: 600;
          transition: opacity 350ms;
          color: #000;
          font-family: "Manrope", sans-serif;
          text-transform: none;
          background: linear-gradient(#000, #000);
          background-clip: text;
          -webkit-text-fill-color: transparent;
          padding-bottom: 10px;
        }
      }

      p {
        font-size: 14px;
        line-height: 24px;
      }

      .footer-image {
        transform: translate(-60px, -30px);
        object-fit: contain;
        max-width: 600px;
      }

      .footer-social-media {
        margin-top: 40px;

        span {
          font-size: 14px;
        }

        svg {
          width: 22px;
          margin-right: 10px;
        }
      }
    }

    .footer-form {
      position: relative;
      width: 55%;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: -50%;
        width: 50%;
        height: 100%;
        background-color: #f5f5f5;
      }
    }

    form {
      background-color: #f5f5f5;
      padding: 60px 0 60px 30px;

      h2 {
        font-size: 32px;
        margin-bottom: 20px;
      }

      .form-element {
        display: flex;
        flex-direction: column;
        align-items: center;

        .input-wrapper,
        input,
        textarea {
          width: 100%;
          background-color: transparent;
        }

        label {
          margin: 30px 0 10px 0;
          text-align: left;
          font-size: 14px;
          width: 100%;
          color: #000;
        }
      }

      select {
        width: 100%;
        display: block;
        border: none;
        border-radius: 0;
        padding: 0;
        font-size: 14px;
        margin: 10px 0;
        background-color: transparent;
        cursor: pointer;
      }

      option {
        font-size: 14px;
        padding: 10px;
        background-color: transparent;
      }

      select,
      textarea,
      input {
        transition: all 0.2s;
        border: none;
        color: #000;
        border-bottom: 1px solid @color1;

        &:focus {
          outline: none;
          border-bottom: 1px solid darken(@color1, 25%);
          background-color: #f9f9f9;
        }
      }

      textarea {
        height: 100px;
      }

      .info {
        margin-top: 20px;

        p {
          font-size: 13px;
        }
      }

      .button-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .formal {
        padding: 10px 10px 0 0;
        height: 60px;
        overflow: auto;
        margin: 10px 0;

        p {
          font-size: 11px;
          line-height: 15px;
        }
      }
    }
  }

  .checkbox-wrapper {
    position: relative;
    cursor: pointer;
    display: block;
    margin: 5px 0 10px;
    height: 30px;

    .radio-box {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      font-size: 11px;
      text-transform: none;
      text-align: left;
      transition: all 0.3s;
      padding: 0;
      font-weight: 500;

      &:focus {
        border: none;
      }

      &:before {
        content: "";
        min-width: 12px;
        max-width: 12px;
        height: 12px;
        display: block;
        background: url("../img/icons/checkbox.svg") no-repeat;
        margin-right: 5px;
        transition: all 0.3s;
      }

      span {
        font-size: 11px;
      }
    }

    input {
      width: auto !important;
      position: absolute;
      left: 0;
      opacity: 0;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .checkbox-wrapper > input:checked + .radio-box {
    font-weight: 700;

    &:before {
      background: url("../img/icons/checkbox-checked.svg") no-repeat;
    }
  }

  .footer-credits {
    margin-top: 40px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;

    .credits-copyright {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .credits-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        a {
          color: #000;
          font-size: 11px;
        }
      }

      .divider {
        border-right: 1px solid #ccc;
        width: 1px;
        height: 20px;
        margin: 0 20px;
      }

      p {
        font-size: 11px;
        color: #000;

        a {
          color: inherit;
          transition: all 0.5s;
        }
      }
    }

    .credits-payment {
      ul {
        display: flex;
        align-items: center;

        li {
          img {
            height: 15px;
          }
        }

        li + li {
          margin-left: 15px;
        }
      }
    }
  }
}
